@import "tailwindcss";

/* Aquí le enseñamos a Tailwind nuestros colores y fuentes */

@theme {
    --color-aura-red: #E63946;
    --color-aura-light: #F1FAEE;
    --color-aura-lightblue: #A8DADC;
    --color-aura-blue: #457B9D;
    --color-aura-dark: #1D3557;
    --font-title: "Cinzel", serif;
    --font-body: "Lora", serif;
}


/* Estilos base en CSS clásico para no complicar el @apply */

body {
    background-color: var(--color-aura-light);
    color: var(--color-aura-dark);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}