:root {
    /* Tu paleta de colores */
    --color-red: #E63946;
    --color-light: #F1FAEE;
    --color-light-blue: #A8DADC;
    --color-blue: #457B9D;
    --color-dark-blue: #1D3557;
    /* Tipografías */
    --font-title: 'Cinzel', serif;
    --font-body: 'Lora', serif;
}

body {
    margin: 0;
    font-family: var(--font-body);
    background-color: var(--color-light);
    /* Fondo claro de la paleta */
    color: var(--color-dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    font-weight: 400;
}